<!-- <div class="comments">
    <input type="text" name="username" id="commentUsername">
    <input type="text" name="commentInput" id="commentInput">
    <button id="submitComment">Submit Comment</button>
    <p id="allComments"></p>

</div> -->

<div class="popupImageBorder"> </div>
<div class="popupImage ">
    <div id="closePopup" v-if="selectedImage" :selected-image="selectedImage" id="X" @click="onCloseClick"></div>

    <img :src="url" alt="Selected_image">
    <div id="rightcolumn">

        <div id="titleDescription">
            <h2 id="title" class="hidden">{{title}}</h2>
            <p id="description" class="hidden">{{description}}</p>
        </div>
    </div>
    <p>Comments:</p>
    <div id="commentsection">

        <p v-for="comment in comments" id="username" class="hidden">{ {username}}
        </p>

        <comments-component :id="selectedImage"></comments-component>
    </div>
</div>