<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Paradies</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main">
        <my-component v-if="selectedImage" :selected-image="selectedImage" @close="onCloseClick">
        </my-component>
        <header>
            <div id="logo">
                <!-- <img src="https://www.canva.com/design/DAE_M5bS9vY/BmE5lGSpKhTMvERH2gwh7A/view?mode=prototype#ohne-titel" alt="Logo"> -->
                <h1>Paradies</h1>
            </div>


            <div id="uploader">
                <form @submit="handleSubmit">
                    <div>
                        <input class="uploadInput" name="username" placeholder="Username" v-model="username" @change="handleFileChange" />

                        <input class="uploadInput" name="title" placeholder="Title" v-model="title" @change="handleFileChange" />

                        <input class="uploadInput" name="description" placeholder="Describe your Image" v-model="description" @change="handleFileChange" />
                    </div>

                    <input name="image" type="file" accept="image/*" @change="handleFileChange" />
                    <button>Submit</button>
                </form>
            </div>
        </header>




        <div class="gridwrapper">
            <div id="images">
                <div @click="onClick(image.id)" id="image" v-for="image in images" :src="image.url" :alt="image.title">
                    <div id="border">
                        <div class="imwrapper">
                            <img :src="image.url" alt="{{image.description}}">
                            <h3 id="title" class="hidden">{{image.title}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="more" v-if="images" @click="loadMoreImages">MORE</button>

    </div>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>

</html>