<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Finstergram</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="main">

        <header>
            <div id="logo">
                <!-- <img v-for="image in logo" :src="image.url" alt="Logo"> -->
                <h1>Finstergram</h1>
            </div>


            <div id="uploader">
                <form @submit="handleSubmit">

                    <input name="username" placeholder="Username" v-model="username" @change="handleFileChange" />

                    <input name="title" placeholder="Title" v-model="title" @change="handleFileChange" />

                    <input name="description" placeholder="Describe your Image" v-model="description" @change="handleFileChange" />

                    <input name="image" type="file" accept="image/*" @change="handleFileChange" />
                    <button>Submit</button>
                </form>
            </div>
        </header>


        <my-component v-if="selectedImage" :selected-image="selectedImage" @close="onCloseClick">
            <comments-component v-if="selectedImage" :selected-image="selectedImage"></comments-component>
        </my-component>






        <div id="images">
            <div @click="onClick(image.id)" id="image" v-for="image in images" :src="image.url" :alt="image.title">
                <div id="border">
                    <img :src="image.url" alt="{{image.description}}">
                    <p id="title" class="hidden">{{image.title}}</p>
                </div>
            </div>
        </div>

    </div>
    <button>MORE</button>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>

</html>